.App {
  padding: 10px;
  text-align: center;
}

.todo-div{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-delete{
  margin-left: 20px;
  color: white;
  background: red;
  border: none;
  height: 22px;
  width: auto;
}

.btn-submit{
  margin-left: 20px;
  color:white;
  background: green;
  border: none;
  height: 22px;
  width: auto;
}